*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 100%;
}
.footer-content {
    max-width: 960px;
    margin: 0 auto;
}
.vertical-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.vertical-menu li {
    margin: 0;
    padding: 10px 0;
}
ul{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
ul li a {
    padding: 5px;
    font-weight: 200;
    color: black;

}
.vertical-menu li a {
    text-decoration: none;
    display: block;
    font-style: oblique;
    font-size: large;
}
.cart-icon{
    width: 30px;
    height: auto;
}
.horizontal-products {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}
.product {
    width: 200px;
    padding: 10px;
    border: 1px solid blue;
    text-align: center;
}
.product button{
    background-color: rgb(0, 255, 106);
}
.product img {
    max-width: 100%;
}
.product h3 {
    margin: 10px 0;
}
.product span {
    font-weight: bold;
    color: #333;
}
.cart {
    padding: 20px;
    background-color: beige;
    height: 700;
    align-items: normal;
    
}
.cart img{
    max-width: 100%;

}
.cart-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px;

}
.row{
    margin-bottom: 10px;
    padding: 30px;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 15px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    margin: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10 0px;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
}
.container {
    display: flex;
}
.container vertical-menu img {
    padding-right: 30px;
    align-content: center;
}
h1, h2, h3 {
    color: #007bff;
}
h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
}
h3 {
    margin-top: 15px;
}
p {
    margin-bottom: 10px;
}
